body {
  font-family: Arial, sans-serif;
  background-color: #1c1c1c;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background: #333;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 300px;
  text-align: center;
}
h2 {
  margin-bottom: 20px;
  color: white; 
}
input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #333;
}
button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background: #0056b3;
}
.msg {
  margin-top: 15px;
  font-size: 14px;
  color: red;
}
#form{
   /* opacity: 0.9; */
  background-color: rgb(54, 54, 54); /* branco translúcido */
  backdrop-filter: blur(10px); /* efeito blur */
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 300px;
  text-align: center;

}

form{
    align-items: center;
}

button{
    background-image: linear-gradient(to right, rgb(33, 83, 192), rgb(8, 88, 184));
}