body {
  font-family: Arial, sans-serif;
  background-image: url('../img/fundo-de-montanhas-azuis-em-aquarela_23-2149250282.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 300px;
  text-align: center;
}
h2 {
  margin-bottom: 20px;
}
input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background: #0056b3;
}
.msg {
  margin-top: 15px;
  font-size: 14px;
  color: red;
}
#form{
   opacity: 0.9;
  background-color: rgba(255, 255, 255, 0.5); /* branco translúcido */
  backdrop-filter: blur(10px); /* efeito blur */
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 300px;
  text-align: center;

}

form{
    align-items: center;
}